
#tabela-web {
    display: flex;
    flex-direction: column;
}
#tabela-web-header {
    display: flex;
}
.coluna-informacao>button {
    margin-right: 20px;
    height: 50px;
    align-self: center;
    border-radius: 15px;
    border: 0px
}
.coluna-informacao>button:hover {
    background-color: #ce002d;
    color: #ffffff;
}

.linha {
    display: flex;
    flex-direction: column;
}
.coluna-cartao {
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    border: solid 2px #000000;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    flex: 1 1 content;
    height: auto;
}
.coluna-cartao>h2,.coluna-cartao>p {
    text-align: center;
    font-size: 30px;
}
.coluna-cartao>p {
    font-size: 20px;
}
.coluna-cartao>button {
    width: 100px;
    align-self: center;
    border-radius: 20px;
    padding: 10px;
    border: 0px;
    color: #ffffff;
    background-color: #ff0000;
}
.coluna-cartao>button:hover {
    background-color: #ce002d;
    box-shadow: 3px 3px 3px #ce002d;
}
.linha-informacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #d1d655;
    border-radius: 20px;
}
.linha-informacao>p {
    text-align: justify;
    max-width: 250px;
}
.linha-informacao>i {
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 50px;
}
.coluna-informacao {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.coluna-informacao>img {
    max-width: 100px;
}
.logo {
    font-size: 1.6em;
    margin: 0px;
}

@media screen and (max-width: 600px) { 
    .linha {
        flex-direction: row;
    }
}