:root {
    --corPrincipal: #000000;
    --corSecundaria: #CE002D;
    --corFonte: #fff;
}
body,html {
    margin: 0;
    padding: 0;
}
* {
    color: var(--corFonte);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "foot";
    height: 100vh;
}
header {
    grid-area: header;
    background-color: var(--corPrincipal);
    height: 100%;
    z-index: 99;
    animation: shadow_animate 1s infinite alternate;
}
@keyframes shadow_animate {
    0% {
        box-shadow: 0 0px 5px var(--corSecundaria);
    }
    100% {
        box-shadow: 0 5px 10px var(--corSecundaria);
    }
}
header .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo conteudo";
}
.logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.logo > p {
    font-size: 4em;
    margin: 0;
}
.logo > img {
    max-width: 100px;
}
.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.conteudo button {
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 1.5em;
    border-radius: 10px;
}
.conteudo button:hover{
    background-color: var(--corSecundaria);
    color: var(--corFonte);
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
.menu a {
    font-size: 1.5em;
}
.menu a:hover {
    color: #CE002D;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "imagem"
    "vazio1"
    "bio"
    "vazio2"
    "plano";
    grid-area: main;
    height: 100%;
}
.imagem {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-area: imagem;
  background-image: 
    linear-gradient(to bottom, transparent 60%, var(--corSecundaria) 100%),
    url("../../Arquivos/imagem-treino.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1100px;
}
.imagem p {
    max-width: 125px;
    margin-left: 10%;
    text-align: justify;
    font-size: 2.5em;
}
.imagem button {
    font-size: 1.5em;
    width: 200px;
    border-radius: 10px;
    background-color: var(--corFonte);
    border: 2px solid var(--corPrincipal);
    color: var(--corPrincipal);
    margin-left: 10%;
}
.imagem button:hover {
    background-color: var(--corSecundaria);
    border: 2px solid var(--corFonte);
    color: var(--corFonte);
    cursor: pointer;
}
.vazio1 {
    height: 100px;
    grid-area: vazio1;
    background-color: var(--corSecundaria);
}
.vazio2 {
    height: 100px;
    grid-area: vazio2;
    background-color: var(--corSecundaria);
}
.apresentacao {
    background-color: var(--corPrincipal);
    grid-area: bio;
}
.apresentacao .container {
    display: grid;
    grid-template-areas: 
    "logo"
    "cards";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.apresentacao .card {
  flex: 0 0 500px; 
  max-width: 500px;
  background-color: #111;
  border: 2px solid var(--corSecundaria);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.card p {
    width: 300px;
    justify-self: center;
}
.planos {
    background-color: var(--corPrincipal);
    grid-area: plano;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.planos h2 {
    font-size: 36px;
}

.planos .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.planos .card {
    width: 350px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planos .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;     
    text-align: center;      
    gap: 1.5em;
    background-color: var(--corSecundaria);
    padding: 1em;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
}

.planos .card-content .title {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: var(--corPrincipal);
    padding: 10px;
    border-radius: 10px;
}

.planos .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.beneficios {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 0;
}
.beneficios .item {
    max-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    background-color: var(--corSecundaria);
    font-size: 16px;
}
.planos .content .price-details .price {
    font-size: 28px;
}
.planos .content .price-details button {
    width: 100px;
    border: none;
    background-color: var(--corFonte);
    color: var(--corPrincipal);
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.planos .content .price-details button:hover {
    background-color: var(--corPrincipal);
    color: var(--corFonte);
}

footer {
    grid-area: foot;
    background-color: var(--corSecundaria);
}
footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.info-contato {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.redes-sociais {
    flex: 0 1 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .container .logo p {
    font-size: 40px;
}

.redes-sociais a:hover {
    color: var(--corPrincipal);
}