:root {
    --corPrincipal: #000000;
    --corSecundaria: #CE002D;
    --corFonte: #fff;
}
body,html {
    margin: 0;
    padding: 0;
}
* {
    color: var(--corFonte);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "foot";
    height: 100vh;
}
header {
    grid-area: header;
    background-color: var(--corPrincipal);
    height: 100%;
    z-index: 99;
    animation: shadow_animate 1s infinite alternate;
}
@keyframes shadow_animate {
    0% {
        box-shadow: 0 0px 5px var(--corSecundaria);
    }
    100% {
        box-shadow: 0 5px 10px var(--corSecundaria);
    }
}
header .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo conteudo";
}
.logo {
    grid-area: logo;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.logo > p {
    font-size: 4em;
    margin: 0;
}
.logo > img {
    max-width: 150px;
}
.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.conteudo button {
    padding: 10px;
    background-color: #fff;
    color: #000000;
    border: none;
    font-size: 1.5em;
    border-radius: 10px;
}
.conteudo button:hover{
    background-color: var(--corSecundaria);
    color: var(--corFonte);
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
.menu a {
    font-size: 1.5em;
}
.menu a:hover {
    color: #CE002D;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.25fr 2fr 0.25fr 2fr;
    grid-template-areas: 
    "imagem"
    "vazio1"
    "bio"
    "vazio2"
    "plano";
    grid-area: main;
    height: 100%;
}
.imagem {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-area: imagem;
  background-image: 
    linear-gradient(to bottom, transparent 60%, var(--corSecundaria) 100%),
    url("../../Arquivos/imagem-treino.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imagem p {
    max-width: 125px;
    margin-left: 10%;
    text-align: justify;
    font-size: 2.5em;
}
.imagem button {
    font-size: 1.5em;
    width: 200px;
    border-radius: 10px;
    background-color: var(--corFonte);
    border: 2px solid #000000;
    color: #000000;
    margin-left: 10%;
}
.imagem button:hover {
    background-color: var(--corSecundaria);
    border: 2px solid var(--corFonte);
    color: var(--corFonte);
    cursor: pointer;
}
.vazio1 {
    outline: 1px solid var(--corSecundaria);
    grid-area: vazio1;
    background-color: var(--corSecundaria);
}
.vazio2 {
    grid-area: vazio2;
    background-color: var(--corSecundaria);
}
.apresentacao {
    background-color: var(--corPrincipal);
    grid-area: bio;
}
.apresentacao .container {
    display: grid;
    grid-template-areas: 
    "logo"
    "cards";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 0 0 calc(45% - 10px); 
  max-width: calc(45% - 10px);
  background-color: #111;
  border: 2px solid var(--corSecundaria);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.cards:nth-child(1) {
    order: 1;
}
.cards:nth-child(2) {
    order: 2;
}
.cards:nth-child(3) {
    order: 3;
}
.planos {
    grid-area: plano;
}
footer {
    grid-area: foot;
}