body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    ". main ."
    "foot foot foot";
    height: 100vh;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: foot;
}