@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Oswald";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background: #000000;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  padding-top: 5px;
  width: 100%;

  box-shadow: 3px 2px 10px #ce002d;
}

header h1 {
  padding-right: 1100px;
}

header > img {
  width: 70px;
  height: 50px;
}

.container-cadastro {
  background: #fff;
  margin: 700px 70px 7px 70px;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 600px;
  max-width: 700px;
  text-align: center;
}

.container-cadastro h2 {
  margin-bottom: 25px;
  color: #2c3e50;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group h3 {
  font-size: 14px;
  margin-bottom: 6px;
  color: #2c3e50;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #ce002d;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
}

#id_unidade {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.container-cadastro button {
  background: #000;
  color: #fff;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, background 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.container-cadastro button:hover {
  transform: translateY(-3px);
  background: #333;
}

.container-cadastro p {
  margin-top: 15px;
  font-size: 14px;
}

.container-cadastro a {
  color: #ce002d;
  text-decoration: none;
  font-weight: bold;
}

.container-cadastro a:hover {
  text-decoration: underline;
}

header button {
  padding-top: 20px;
  background-color: #00000000;
  border-color: #00000000;
}

.alert-in {
  background-color: rgba(247, 86, 57, 0);
  padding: 2px 2px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(247, 85, 57);
  border-radius: 7px;
  font-size: 1rem;
}

.go {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/originals/8a/c1/29/8ac12962c05648c55ca85771f4a69b2d.gif"); /* Substitua pelo caminho real do seu GIF */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 100px;
}

